@font-face {
font-family: 'fontes';
src:
url('Fonts/fontes.ttf') format('truetype'),
url('Fonts/fontes.woff') format('woff'),
url('Fonts/fontes.eot') format('eot'),
url('Fonts/fontes.svg?#fontes') format('svg');
font-weight: normal;
font-style: normal;
}

[class^="sf-icon-"], [class*=" sf-icon-"] {
 font-family: 'fontes' !important;
speak: none;
font-size: 55px;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.sf-icon-lock:before { content: "\e700"; }
.sf-icon-home:before { content: "\e701"; }
.sf-icon-calendar:before { content: "\e702"; }
.sf-icon-contacts---directory--01:before { content: "\e703"; }
.sf-icon-newspaper:before { content: "\e704"; }
.sf-icon-store:before { content: "\e705"; }
.sf-icon-settings-01:before { content: "\e706"; }
.sf-icon-user-profile:before { content: "\e707"; }
